* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

/* !NAVBAR */
header {
    background-color: #FFFDF0;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C1BAA1;
    width: 100%; 
    padding: 5px 40px;
    box-sizing: border-box;
    border: 1px solid #C84C05;
}

#img-logo {
    width: 80px;  
    height: auto; 
    display: block;
}


#title2 {
    font-weight: normal;
    color: #5E686D;
    font-size: 1.7rem;
    margin-left: 20px;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 1.3rem;
    margin: 20px;
    color: #5E686D;
}

/* ! HERO */

.contenedor {
    display: flex;
    height: 490px;
    background-color: white;
    margin: 0 auto;
}

.hero {
    display: flex;
    justify-content: center;
    height: 550px;
    width: 1400px;
    position: relative;
    width: 100%;
    height: 100%;
}

#img-hero {
    width: 1400px;
    height: 100%;
    object-fit: cover;
    border: #C84C05 solid 1px;
}

.texto-hero {
    position: absolute;
    top: 130px;
    left: 200px;
    color: #C84C05;
    font-size: 2rem;
    max-width: 30%;
}

.texto-hero2{
    position: absolute;
    top: 250px;
    left: 200px;
    font-size: 1.7rem;
    color: #5E686D;
    max-width: 32%;
}

body{
    background-color: white;
}


/* ! Sección con Texto */


#st1{
    background-color: #eeeae7;
    border: solid #C84C05 1px;
    max-width: 1000px;
    height: 200px;
    margin: 0 auto;
    padding-top: 30px;

}

#st1-tt{
    text-align: center;
    font-size: 2.1rem;
    font-weight: 1px;
    color: #C84C05;
    padding-top: 5px;
}

#st1-txt{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #5E686D;
    font-size: 1rem;
    max-width: 600px;
    margin: 15px auto;
}


/* ! Sección 2 (bloque) */


.st2 {
    display: flex;
    flex-direction: column; 
    width: 720px;
    height: 720px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    border: 1px solid #C84C05;
}

.div-box {
    background-color: #B59F78;
    color: white;
    display: flex;
    align-items: center; 
    width: 100%; 
    height: 50%; 
    box-sizing: border-box;
}
.div-box2 {
    background-color: #e3b684;
    color: white;
    display: flex;
    align-items: center; 
    width: 100%; 
    height: 50%; 
    box-sizing: border-box;
}

.img-box {
    width: 50%; 
    height: 100%; 
    object-fit: cover; 
}

.texto {
    width: 50%; 
    height: 100%; 
    padding: 10px; 
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    gap: 25px;
}

/* ! Sección 2 Titulo Hiking */
.Hk-tt{
    background-color: #C1BAA1;
    margin: 0 auto;
    width: 100%;
    height: 120px;
    border: solid 1px #C84C05;
}

#hk-txt{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.1rem;
    color: white;
}

/* ! Sección 3 (cuadros) */
.st3{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0 auto;
    width: 100%;
    height: 400px;
    margin-top: 25px;
}

.encuadre{
    border: solid 1px #C84C05;
    width: 300px;
    height: 380px;
    background-color: #B59F78;
}

.img-enc{
    width: 100%;
    height: 65%;
    display: block;
    
}

.st3-txt{
    color: whitesmoke;
    padding-left: 13px;
    padding-top: 20px;
    max-height: 15px;
}

.st3-tt{
    color: white;
    padding-left: 13px;
    padding-top: 15px;
    font-size: 1.5rem;
    border-top: 1px solid #C84C05;
}


/* ! Hero 2 */
.hero-2 {

    border: 1px solid #C84C05;
    width: 100%;
    height: 390px;
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-hero2 {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.form-container {
    position: absolute;
margin: 0 auto;
}

.id-form {
    border: 3px solid #C84C05;
    height: 350px;
    width: 300px;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.textos{
    display: flex;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 350;
}

.inputs{
    border: 1px solid #5E686D;
    display: flex;
    text-align: left;
    font-size: 1.5rem;
    max-width: 260px;
    border-radius: 7px;
}

.inputcom{
    font-size: 3rem;
    max-width: 260px;
}
.button{
    display: flex;
    width: 150px;
    height: 30px;
    background-color: #B59F78;
    border: 0;
    border-radius: 3px;
    margin: 0 auto;
}
#enviar{
    color: white;
    display: flex;
    align-items: center;
    margin: 0 auto;
}


/* ! Footer */
.footer {
    margin-top: 50px;
    background-color: #B59F78;
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Íconos */
.id-iconos {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.id-iconos a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-decoration: none;
}

.id-iconos a i {
    font-size: 20px;
    color: gray;
}

/* Listas del footer */
.footer-lists {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 80%;
}

.footer-ul {
    list-style: none;
    padding: 0;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-titulos {
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}


